<p>shop works!</p>
<div class="container">
  <div class="row justify-content-center">
    <select name="name" id="name" required>
      <option value="peroni">Peroni</option>
      <option value="nastro">Heineken</option>
      <option value="heineken">Ichnusa</option>
      <option value="moretti">Moretti</option>
      <option value="ichnusa">Nastro</option>
    </select>
    <select name="type" id="type" required>
      <option value="small">Small</option>
      <option value="medium">Medium</option>
    </select>
  </div>
  <div class="row justify-content-center">
    <button>Search</button>
  </div>
</div>
